@import "./variables.css";

button {
  /* width: 100px; */
  padding: 5px 15px;
  margin: 5px;
  border: 3px solid var(--dark);

  background-color: var(--medium);
  color: var(--dark);
  border-radius: 30px;

  font-family: 'Press Start 2P', cursive;
}

button:hover {
  background: var(--dark);
  color: var(--light);;
}

button:active {
  color: var(--dark);
  background: var(--light);
}

button:focus {
  outline:0;
}

.error {
  position: absolute;
  top: 10%;
}

.loading {
  width: 30%;
  height: 50%;
  background-color: rgba(0,0,0, 0.75);
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  z-index: 1;
  position: fixed;
  animation-name: card-animation;
  animation-duration: .5s;

  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  padding-top: 70px;
  height: 100%;
}

.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

.shader {
  width: 100%;
  height: 100%;

  background: rgba(0,0,0, 0.75);
}

@keyframes card-animation {
  from {top: -50%}
  to {top: 50%}
}