@import "./variables.css";

.pokemon-card {
  padding: 20px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  font-size: .75rem; 

  background-color: var(--light);
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=C4CFA1ff&noise=626262&density=7&opacity=15');
  
  border: 2px dotted var(--dark);
  border-radius: 10px;
}

.wrapper {  
  width: 25vw;
  padding: 10px;
  margin: 5px;

  background: var(--medium);
  background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=8B956Dff&noise=626262&density=18&opacity=16');
  
  border: 1px dotted var(--dark);
  border-radius: 10px;
  
  display: flex;
  justify-content: space-around;
}

.top {
  height: 300px;
}

.bottom {
  height: 100px;
}

.wrapper .image {
  width: 300px;
  height: 300px;
  border: 1px solid var(--dark);
  border-radius: 10px;

  background-size:cover;
  background-position:center;  
  background-color: var(--light);  
  background-blend-mode: luminosity;
}

.wrapper .image:hover {
  background-blend-mode: normal;
}

.wrapper .info {
  padding: 10px;
  margin: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

.wrapper .info div{
  height: 30%;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid var(--dark);
}

.info-title {
  margin: 5px;
  text-align: left;
}

.info-data {
  height: 20px;
  padding: 10px;
  margin: 5px;
  text-align: right;
  text-transform: capitalize;
}

.type-container {
  height: 35px;
  display: flex;
  flex-direction: row;
  
  align-content: baseline;
  justify-content: flex-end;
}

.poketype {
  display: inline;
  padding: 5px;
  margin: 5px;
  
  border-radius: 5px;

  font-size: .7rem;
  text-transform: uppercase;
  text-align: center;
}

.description {
  width: 100%;
}

.description .info-title {
  padding: 10px 0;
  border-bottom: 1px solid var(--dark);
}

.description-data {
  margin: 5px;
}


@media only screen and (max-width: 1080px) {
  .pokemon-card {
    height: 90%;
    width: 100%;

    padding: 10px;
    margin: 5px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .wrapper {  
    width: 90%;
    padding: 10px;
    margin: 5px;
    
    border: 1px dotted var(--dark);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .wrapper .image {
    width: 100%;    
    min-height: 200px;
    border: 1px solid var(--dark);
    border-radius: 10px;
  
    background-size:cover;
    background-position:center;  
    background-color: var(--light);  
    background-blend-mode: luminosity;
  }

  .top {
    height: 55vh;
  }
  
  .bottom {
    height: 20vh;
  }
}