@import "./variables.css";

.container {
  padding: 20px;
  margin: 1em auto;
  min-width: 600px;
  max-width: 800px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container .pokedex-title {  
  align-self: center;
  margin: 0;
}

.container #pokemon-list {
  width: 100%;
  height: 800px;
  overflow-y: auto;
  border: 2px dotted var(--darker);
  border-radius: 5px;
  

  display: flex;
  flex-direction: column;
}

.container #pokemon-list li {
  padding: 15px 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: var(--darker);
  text-transform: capitalize;
  border-bottom: 1px dotted var(--darker);
}

.list-header {
  background-color: var(--medium);
  border-right: 1px dotted var(--darker);
}

@media only screen and (max-width: 780px) {
  .container {
    font-size: .7rem; 
    min-width: 400px; 
    padding: 0;
  }
}