:root {
  --light: #C4CFA1;
  --medium: #8B956D;
  --dark: #1F1F1F;
}

::placeholder {
  color: var(--dark);
  font-size: .6rem; 
}

::-webkit-scrollbar {
  background: var(--medium);
  border-radius: 10px;
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--medium);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 10px;
  width: 5px;
}