@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import "./variables.css";

body {
  height: 100%;

  display: flex;
  justify-content: center;
  
  font-family: 'Press Start 2P', cursive;
  background: var(--light);;
}